/* landingPage.css */

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: url('../assets/images/background.png') no-repeat center center/cover;
  position: relative;
  height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  padding: 2rem;
  color: #fff;
  text-align: center;
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 80px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #1e293b;
}

p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #f1f5f9;
  font-weight: 500;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.btn {
  text-decoration: none;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: background 0.3s ease;
}

.btn.primary {
  background: #2563eb;
  color: white;
}

.btn.primary:hover {
  background: #1d4ed8;
}

.btn.secondary {
  background: #22c55e;
  color: white;
}

.btn.secondary:hover {
  background: #16a34a;
}

@media (max-width: 600px) {
  .container {
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    font-size: 1rem;
  }


  p {
  font-size: 1rem;
  font-weight: 400;
}
  .btn {
    font-size: 0.95rem;
    padding: 0.5rem 0.6rem;
  }
}
