/* styles/auth.css */
body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
}

.auth-container h2 {
  text-align: center;
}

.auth-container input, .auth-container select, .auth-container button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

@media (max-width: 600px) {
  p{
    font-size: 0.8rem;
  }

 

}
